.align-left {
 text-align: left;
}

.logo {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.notice {
  color: red;
}

#error_explanation {
  color: red;
}

.backbutton {
  margin: 30px 0 50px 0;
}

button {
  background-color: black;
  color: white;
}


body {
  background-image: url("http://www.wmzqfest2016.com/static2/background1");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  height: 100%;
}


#header {


}

ul.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.links {
  float: right;
}

li.header {
  float: left;
}

/*li a {
  display: block;
  padding: 8px;
  background-color: black;
}*/

a {
  color: white;
}

.callout {
  background-color: black;
  opacity: 0.75;
}

h5, p {
  font-family: 'Kite One', serif;
  color: white;
}

h6, h3, h1 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  color: white;
}
